* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
  letter-spacing: -0.25px;
}

body {
	background-color: #1A1A1A;
}


html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}


nav {
	border-bottom: 1px solid #EAEAEB;
	text-align: right;
	height: 70px;
	line-height: 70px;
}

.menu {
	margin: 0 30px 0 0;
}

.menu a {
	text-decoration: none;
	color: #54D17A;
	margin: 0 10px;
	line-height: 70px;
	font-size: 20px;
	clear: right;
}

label {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
	color: #54D17A;
	
}

#toggle {
	display: none;
}

@media only screen and (max-width: 500px) {
	label {
		display: block;
		cursor: pointer;
	}

	.menu {
		text-align: center;
		width: 100%;
		display: none;
	}

	.menu a {
		
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
	}

	#toggle:checked + .menu {
		display: block;
	}
}









nav {
	color: white;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	min-height: 20px;
	font-size: 1.6rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
}

.container {
	max-width: 100%;

}

a {
	color: white;
	padding: 1rem 0;
	margin: 0 3rem;
	letter-spacing: 1px;
	transition: color 0.18s ease-in-out;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style: none;
}

a:hover {
	color: lightgreen;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background:  
  url("https://res.cloudinary.com/naturewalks/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1573609532/Riley%27s%20Site/IMG_5948_onlx0q.jpg") center no-repeat;
  background-size: cover;
}

h2 {
	font-size: 40px;
	text-align: center;
	align-self: center;
	color: white;
}

#titlecontainer {
	width: 35%;
	height: 15%;
	background-color: gray;
	align-content: center;
	margin-top: 455px;
	margin-left: 390px;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: black;
	opacity: 0.7;

}

p {
	font-size: 14px;
}
section {
	background-color: #eee

}
#about {
	margin-left: 25px;
	width: 75%;
	border: 3px solid #eee;
	display: flex;
	height: 550px;
	padding-left: 15px;
	background-color: #eee;
	box-shadow: 
         1px 1px 2.5px #eee,
        -1px -1px 2.5px #eee;
}
#about p {
	font-size: 20px;
	padding-top: 15px;
}



#about2 {
	margin-left: 23%;
	width: 75%;
	border: 3px solid #eee;
	display: flex;
	height: 550px;
	padding: 18px;
	margin-right: 25px;
	box-shadow: 
         1px 1px 2.5px #eee,
        -1px -1px 2.5px #eee;
	

}
#about2 p {
	font-size: 20px;
	padding-top: 15px;
}



section {
	margin: 4rem;
}

section img {
	padding: 15px;
	border: 2px solid #eee;
	max-width: 70%;
}

#contact {
	margin-left: 25px;
	width: 75%;
	border: 3px solid #eee;
	display: flex;
	padding: 18px;
	height: 400px;
	 
    box-shadow: 
      1px 1px 2.5px #eee,
      -1px -1px 2.5px #eee;
}
#contact p {
	font-size: 20px;
	padding-top: 15px;
}


#social {
	display: flex;
	border: 2px solid #eee;
	min-height: 120px;
	justify-content: center;
	align-items: center;
	box-shadow: 
         1px 1px 2.5px #eee,
        -1px -1px 2.5px #eee;
}

#social a {
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

h3 {
	margin: 3px;
	font-size: 25px;
	padding-bottom: 10px;
}


@media only screen and (max-width: 500px) {
	#about p{
		color: black;
	}

	#about {
		width: 90vw;
		height: 90vh;
		display: flex;
		flex-direction: column;
		padding: 2%;
	}

	#about img {
		max-width: 95%;
	}

	#about2 {
		width: 90vw;
		height: 90vh;
		display: flex;
		flex-direction: column;
		padding: 2%;
		
	}

	#about2 p {
		font-size: 12px;
	}

	#about2 img {
		max-width: 95%;
	}

	#contact {
		width: 90vw;
		height: 90vh;
		display: flex;
		flex-direction: column;
		padding: 2%;
	}

	#contact img {
		max-width: 95%;
	}
}